.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: var(--tg-theme-header-bg-color);
  position: absolute;
}

.username {
  margin-left: auto;
}
