.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 20px;
  background-color: var(--tg-theme-header-bg-color);
  position: absolute;
}

.left {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: default;
  svg {
    cursor: pointer;
  }
}
